### Data Transformation

Visualization is an important tool for insight generation, but it is rare that you get the data in exactly the right form you need. You will often need to create some new variables or summaries, rename variables, or reorder observations for the data to be easier to manage.

To explore data manipulation verbs of pandas, we’ll use flights. This data frame contains all 336,776 flights that departed from New York City in 2013. The data comes from the US Bureau of Transportation Statistics.

**As always, import the necessary libraries now and the dataset you will need at the start of your notebook**

In [24]:
import pandas as pd
import numpy as np

flights = pd.read_csv("../../Data/nycflights13_flights.csv", index_col=0)
flights.reset_index(drop=True, inplace=True) # reset index to default integer index
flights.head()
# flights.info()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,3,25,1929.0,1905,24.0,2236.0,2217,19.0,UA,1471,N37298,EWR,RSW,169.0,1068,19,5,2013-03-25 19:00:00
1,2013,4,26,956.0,1000,-4.0,1257.0,1334,-37.0,DL,1765,N717TW,JFK,SFO,337.0,2586,10,0,2013-04-26 10:00:00
2,2013,5,21,1320.0,1309,11.0,1430.0,1414,16.0,EV,4129,N11536,EWR,DCA,39.0,199,13,9,2013-05-21 13:00:00
3,2013,7,18,1222.0,1230,-8.0,1357.0,1419,-22.0,EV,5796,N13958,EWR,CLT,77.0,529,12,30,2013-07-18 12:00:00
4,2013,8,29,540.0,545,-5.0,921.0,921,0.0,B6,939,N535JB,JFK,BQN,198.0,1576,5,45,2013-08-29 05:00:00

We are going to learn five key pandas functions or object methods. Object methods are things the objects can perform. For example, pandas data frames know how to tell you their shape, the pandas object knows how to concatenate two data frames together. The way we tell an object we want it to do something is with the ‘dot operator’. We will refer to these object operators as functions or methods. Below are the five methods that allow you to solve the vast majority of your data manipulation challenges:

| Python pandas function | What it does |
|-------------------------|--------------|
| `query()`              | Pick observations (rows) by their values |
| `sort_values()`        | Reorder the rows based on one or more columns |
| `filter()` or `loc[]`  | Pick variables (columns) by their names |
| `rename()`             | Rename columns or index labels |
| `assign()`             | Create new variables (columns) using functions of existing variables |
| `groupby()`            | Split data into groups based on values of one or more keys |
| `agg()`                | Collapse many values down to a single summary (e.g., mean, sum, count) |

To use filtering effectively, you have to know how to select the observations that you want using the comparison operators. Python provides the standard suite: `>`, `>=`, `<`, `<=`, `!=` (not equal), and `==` (equal).

**Filter rows with `.query()`**

`.query()` allows you to subset observations based on their values. The function takes 2 arguments, the first argument specifies the rows to be selected. This argument can be label names or a boolean series. The second argument specifies the columns to be selected. For example we can select all fligths for August 16th:

In [30]:
flights.query("month == 8 & day == 16")
flights(flights.month == 1 & flights.day == 16)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Multiple arguments to `.query()` are combined with `“and”`: every expression must be true in order for a row to be included in the output. For some operations you may need other Boolean operations - `&` is “and”, `|` is “or”, and `!` is “not”

![GitHub Codespaces](Boolean_operators.png)

The following code finds all flights that departed in August or September:

**Arrange or sort rows with `.sort_values()`**

Works similarly to `.query()` except that instead of selecting rows, it changes their order.

In [28]:
flights.sort_values(by=["year", "month", "day"])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
241,2013,1,1,1451.0,1500,-9.0,1634.0,1636,-2.0,9E,4105,N8444F,JFK,IAD,57.0,228,15,0,2013-01-01 15:00:00
897,2013,1,1,2050.0,1959,51.0,2229.0,2144,45.0,MQ,4423,N853MQ,JFK,RDU,83.0,427,19,59,2013-01-01 19:00:00
926,2013,1,1,800.0,810,-10.0,949.0,955,-6.0,MQ,4406,N828MQ,JFK,RDU,80.0,427,8,10,2013-01-01 08:00:00
1399,2013,1,1,1628.0,1524,64.0,1740.0,1641,59.0,EV,4133,N14959,EWR,IAD,53.0,212,15,24,2013-01-01 15:00:00
1960,2013,1,1,1825.0,1829,-4.0,2046.0,2032,14.0,US,1973,N460UW,EWR,CLT,106.0,529,18,29,2013-01-01 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199757,2013,12,31,622.0,630,-8.0,945.0,938,7.0,B6,929,N612JB,JFK,RSW,185.0,1074,6,30,2013-12-31 06:00:00
200522,2013,12,31,1912.0,1915,-3.0,2300.0,2258,2.0,DL,2481,N385DN,JFK,PHX,320.0,2153,19,15,2013-12-31 19:00:00
201122,2013,12,31,1352.0,1350,2.0,1707.0,1705,2.0,AA,1073,N3JEAA,LGA,MIA,169.0,1096,13,50,2013-12-31 13:00:00
201615,2013,12,31,1429.0,1429,0.0,1745.0,1737,8.0,B6,301,N715JB,JFK,FLL,172.0,1069,14,29,2013-12-31 14:00:00
201774,2013,12,31,905.0,856,9.0,1231.0,1206,25.0,UA,205,N418UA,EWR,FLL,181.0,1065,8,56,2013-12-31 08:00:00

If you provide more than one column name, each additional column will be used to break ties in the values of preceding columns

**Select columns with `filter()` or `loc[]`**

It’s not uncommon to get datasets with hundreds or even thousands of variables. In this case, the first challenge is often narrowing in on the variables you’re actually interested in.

In [31]:
flights.filter["year", "month", "day"]

TypeError: 'method' object is not subscriptable

Use `.rename()` to rename a column or multiple columns.

In [32]:
flights.rename(columns = {"year": "Year"})

,Year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,3,25,1929.0,1905,24.0,2236.0,2217,19.0,UA,1471,N37298,EWR,RSW,169.0,1068,19,5,2013-03-25 19:00:00
1,2013,4,26,956.0,1000,-4.0,1257.0,1334,-37.0,DL,1765,N717TW,JFK,SFO,337.0,2586,10,0,2013-04-26 10:00:00
2,2013,5,21,1320.0,1309,11.0,1430.0,1414,16.0,EV,4129,N11536,EWR,DCA,39.0,199,13,9,2013-05-21 13:00:00
3,2013,7,18,1222.0,1230,-8.0,1357.0,1419,-22.0,EV,5796,N13958,EWR,CLT,77.0,529,12,30,2013-07-18 12:00:00
4,2013,8,29,540.0,545,-5.0,921.0,921,0.0,B6,939,N535JB,JFK,BQN,198.0,1576,5,45,2013-08-29 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202061,2013,1,27,1311.0,1315,-4.0,1451.0,1504,-13.0,US,1895,N192UW,EWR,CLT,77.0,529,13,15,2013-01-27 13:00:00
202062,2013,8,8,2145.0,1800,225.0,8.0,2039,209.0,DL,61,N685DA,LGA,ATL,104.0,762,18,0,2013-08-08 18:00:00
202063,2013,1,30,2248.0,2135,73.0,149.0,36,73.0,B6,11,N809JB,JFK,FLL,166.0,1069,21,35,2013-01-30 21:00:00
202064,2013,3,18,957.0,1000,-3.0,1242.0,1234,8.0,DL,1847,N397DA,LGA,ATL,112.0,762,10,0,2013-03-18 10:00:00
202065,2013,9,6,600.0,610,-10.0,825.0,855,-30.0,AA,1103,N3FDAA,LGA,DFW,177.0,1389,6,10,2013-09-06 06:00:00

**Add new variables with `.assign()`**
Besides selecting sets of existing columns, it’s often useful to add new columns that are functions of existing columns. 
`.assign()` always adds new columns at the end of your dataset.

In [33]:
flights.assign(
    gain = flights.arrival_delay - flights.departure_delay,
    speed = flights.distance / flights.air_time * 60
)

AttributeError: 'DataFrame' object has no attribute 'arrival_delay'

**Grouped summaries or aggregations with `.agg()`**

The last key verb is `.agg()`. It collapses a data frame to a single row:

In [34]:
flights.agg({"dep_delay": "mean"})
flights.agg({"dep_delay": ["mean", "min", "max"]})
flights.agg({"dep_delay": ["mean", "min", "max"], {"dep_delay": ["mean", "min", "max"]}})

SyntaxError: ':' expected after dictionary key (346416350.py, line 3)

`.agg()` is not terribly useful unless we pair it with `.groupby()`. This changes the unit of analysis from the complete dataset to individual groups.

In [35]:
flights.groupby(["year", "month", "day"]).agg((delay = ("dep_delay", "mean")).reset_index()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (996937809.py, line 1)

**Combining Multiple Operations**

Imagine you wanted to find out how flight delays vary by destination airport. You also want to see how many flights go to each destination, what the average distance is, and the average arrival delay. However, you don’t want destinations with very few flights or very long flights to distort the results. With longer oprations it is always more efficient to assing in to a variable using `=`.

In [ ]:
delays = (
    flights
    .groupby("dest")
    .agg(
        count = ("distance", "count"), 
        dist = ("distance", "mean"), 
        delay = ("arr_delay", "mean"))
    .query("count > 20 & dest != 'HNL'")
)
delays

IndentationError: unexpected indent (2692914920.py, line 2)

#### Exercise - Average speed by destination

Imagine you wanted to know how fast flights travel on average depending on the destination. You decide to create a new variable called speed (in miles per hour) and then summarize by destination.

Task:

Create a new column `speed = distance / (air_time / 60)`.

For each destination `(dest)` assume there are `NAN` and calculate:

`count: number of flights`

`avg_speed: average speed (mph)`

Keep only destinations with more than 20 flights and sort them by `avg_speed` from fastest to slowest.

In [39]:
speed = (
    flights
    .assign(speed = flights.distance / (flights.air_time / 60))
    .groupby("dest")
    .agg(
        count = ("speed", "size"), 
        avg_speed = ("speed", "mean"))
    .query("count > 20")
    .sort_values("avg_speed", ascending=False)
)
speed

      count   avg_speed
dest
BQN     547  486.941156
SJU    3521  485.500289
HNL     428  483.518542
PSE     229  481.060702
STT     289  478.681312
...     ...         ...
BWI    1069  282.751364
DCA    5898  280.234279
BDL     270  276.773209
ALB     295  272.213844
PHL     969  175.643066

[96 rows x 2 columns]

### All Done!